<!DOCTYPE html>
<html lang="pl" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Lista rzeczy</title>
  <link rel="stylesheet" href="css/styles.css">

  <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
</head>

<body>

  <div class="box" id="heading">
    <h1>It's
      <%=day%>!</h1>
  </div>

  <div class="box">
    <% for (let i=0; i< items.length  ; i++) { %>
    <div class="item">
      <input type="checkbox" >
      <p> <%= items[i] %></p>
    </div>

    <% } %>
    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="What do you need to do?" autocomplete="off">
      <button type="submit" name="submit">+</button>
    </form>
  </div>




</body>

</html>
