<!DOCTYPE html>
<html lang="pl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lista rzeczy</title>
  </head>
  <body>
    <h1>Jest  <%=dzien %>!</h1>
    <% if(false) { %>
    <h1>DUPADUPADUPADUPADUPADUPADUPA</h1>
    <% } %>

  </body>
</html>
